APP_NAME=YLZ MediaCore API
APP_VERSION=v0.1.0
API_PREFIX=/api/v1
API_HOST=0.0.0.0
API_PORT=8000
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
DOWNLOAD_ROOT=/tmp/downloads
CELERY_DOWNLOAD_QUEUE=download
CELERY_CONVERT_QUEUE=convert

